body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#visualization {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

#article {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}

.step {
    margin-bottom: 50%;
}

.step h2 {
    margin-bottom: 10px;
}